@model SME_Hub.Models.MultiModels

@{
    ViewBag.Title = "Business Profile";
    ViewBag.Page = "Business Profile";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwB-f5_VLo2BIqevJ3X9hc-firQefTZrc&callback=initMap"
        type="text/javascript"></script>
@if(Html.DisplayFor(model => model.MyAccount.CoordinateLat).ToString() == "0")
{
    <script>
    //var map;
    var myCenter = new google.maps.LatLng( 8.971897294083027, 7.470703125);//Abuja= 8.971897294083027, 7.470703125; London = 51.508742, -0.120850
    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        //var marker = new google.maps.Marker({
        //    position: myCenter,
        //});

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
}
else
{
<script>
    //var map;
    var myCenter = new google.maps.LatLng( @Html.DisplayFor(model => model.MyAccount.CoordinateLat), @Html.DisplayFor(model => model.MyAccount.CoordinateLong));//Abuja= 8.971897294083027, 7.470703125; London = 51.508742, -0.120850
    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myCenter,
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
}
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="~/css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="~/css/style.css" />
<link rel="stylesheet" type="text/css" href="~/css/component.css" />
<script type="text/javascript" src="~/js/modernizr-2.6.2.min.js"></script>
<!--/web-fonts-->
<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Wallpoet' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>



<div class="container">
    @*<button class="btn" style="background: #e16b5b" value="Button">Button</button>*@
    <div class="col-md-8 single-left">
        <div class="sample1">
            <div class="carousel" style="height: 341px;">
                <ul>
                    <li class=""> <img width="1350" class="img-responsive" src="@Html.DisplayFor(model => model.MyAccount.LogoUrl)" alt="@Html.DisplayFor(model => model.MyAccount.CompanyName)"> <div class="caption1	"><span></span></div></li>
                    @*<li class=""> <img src="~/images/1.jpg" alt="Itaque earum rerum hic"> <div class="caption1"><span>Itaque earum rerum hic</span></div></li>
                        <li class=""> <img src="~/images/5.jpg" alt="Itaque earum rerum hic"> <div class="caption1"><span>Itaque earum rerum hic</span></div></li>
                        <li class="current"> <img src="~/images/3.jpg" alt="doloribus asperio rep"> <div class="caption1"><span>doloribus asperio rep</span></div></li>
                        <li> <img src="~/images/4.jpg" alt="maiores alias consequ"> <div class="caption"><span>maiores alias consequ</span></div></li>*@
                </ul>
                @*<div class="controls">
                        <div class="prev"></div>
                        <div class="next"></div>
                    </div>*@
            </div>
            @*<div class="thumbnails">
                    <ul>
                        <li class=""> <div><img src="~/images/1.jpg" alt=" "></div> </li>
                        <li class=""> <div><img src="~/images/5.jpg" alt=" "></div> </li>
                        <li class="selected"> <div><img src="~/images/3.jpg" alt=" "></div> </li>
                        <li> <div><img src="~/images/4.jpg" alt=" "></div> </li>
                    </ul>
                </div>*@
        </div>
        <div class="single-left2">
            <h3>@Html.DisplayFor(model => model.MyAccount.CompanyName)</h3>
            <ul class="com">
                <li>

                    @Html.Partial("_VoteShow")
                </li>

                <li>

                    <small>Please rate this service:</small><br /> @Html.Partial("_VoteNow")
                    @*<a href="#">2 Comments</a>*@
                </li>
                @*<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><a href="#">50 Likes</a></li>
                    <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">3 Tags</a></li>*@
            </ul>
            <div class="single-left2-sub">
                <ul>
                    <li>Description: </li>
                </ul>
            </div>
        </div>
        <div class="single-left3">
            <p>
                @Html.DisplayFor(model => model.MyAccount.Description)
            </p>
        </div>
        @*<div class="single-left4">
                <h4>Share This Post</h4>
                    <ul class="social-icons social-icons1">
                        <li><a href="#" class="icon icon-border icon-border1 facebook"></a></li>
                        <li><a href="#" class="icon icon-border icon-border1 twitter"></a></li>
                        <li><a href="#" class="icon icon-border icon-border1 instagram"></a></li>
                        <li><a href="#" class="icon icon-border icon-border1 pinterest"></a></li>
                    </ul>
            </div>*@
        <div class="single-left2-sub">
            <ul>
                <li>Location: </li>
            </ul>
        </div>
        <div id="googleMap" style="height:350px; border:thin; padding-left:20px"></div>
        <div class="comments agile-info">
            <h4>Comments</h4>
            @foreach (var item in Model.CommentsForService)
            {
                <div class="comments-grid" style="margin-top:20px">
                    <div class="comments-grid-left">
                        <img src="~/images/icon.png" alt=" " class="img-responsive">
                    </div>
                    <div class="comments-grid-right">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        @*<h3><a href="#">Adam Smith</a></h3>*@ 
                        <h5><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> On @String.Format("{0:dddd, MMMM d, yyyy}", item.Date.Value)</h5>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
            
            <div style="margin-top:20px" class="comments-grid">
                <div class="comments-grid-left">

                </div>
                <div class="comments-grid-right">
                    <div class="blo-top">
                        <div class="tech-btm">
                            <h4>Your Comment</h4>

                            <div class="">
                                @using (Html.BeginForm("PostComment", "Default"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    @Html.TextBoxFor(m => m.CommentsViewModel.Name, new { @class = "email", @placeholder = "Your Name" })
                                    @Html.ValidationMessageFor(m => m.CommentsViewModel.Name)

                                    @Html.TextAreaFor(m => m.CommentsViewModel.Content, new { @class = "form-control", @rows = 5, @style = "margin-top:20px; border-radius:0px; border-color:#333333", @placeholder = "Your Comment..." }) 
                                    @Html.ValidationMessageFor(m => m.CommentsViewModel.Name)

                                    @*<input type="text" name="email" class="email" placeholder="Your Name" required="">*@
                                    @*<textarea style="margin-top:20px; border-radius:0px; border-color:#333333" rows="5" class="form-control" spellcheck="false" name="email_message"></textarea>*@

                                    <input type="submit" value="Post">
                                }
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>

    </div>
    <div class="col-md-4 single-right">
        <div class="blo-top">
            <div class="tech-btm">
                <h4>Get a call back</h4>
                <p>You can drop your phone number and receive a call-back from @Html.DisplayFor(model => model.MyAccount.CompanyName)</p>
                <div class="name">
                    <form action="#" method="post">
                        <input type="text" name="email" class="email" placeholder="Enter your phone number" required="">
                        <input type="submit" value="Drop Contact">
                    </form>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

        <div class="related-posts">
            <h3>Related Businesses</h3>
            @foreach (var item in Model.RelatedArtisans)
            {
                <div class="related-post">
                    <div class="related-post-left">
                        <a href="@Url.Action("Details", "Default", new { id = item.Id })"><img src="@Html.DisplayFor(modelItem => item.LogoUrl)" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="related-post-right">
                        <h4><a href="@Url.Action("Details", "Default", new { id = item.Id })">@Html.DisplayFor(modelItem => item.CompanyName)</a></h4>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, Math.Min(item.Description.Length, 50))...
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
        </div>

    </div>
    <div class="clearfix"> </div>
</div>

<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/js/jquery.light-carousel.js"></script>
<script>
    $('.sample1').lightCarousel();
</script>
<link href="~/css/light-carousel.css" rel="stylesheet" type="text/css">
<script src="~/js/bootstrap.js"></script>

