@using Microsoft.AspNet.Identity
@model SME_Hub.Models.ManageUserViewModel


<div class="row">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="basic-login">
                        <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

                        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            
                            <hr />
                            @Html.ValidationSummary()
                            <div class="form-group">                                
                                <div class="col-md-12">
                                    <label>Current Password:</label>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                                </div>
                            </div>
                            <div class="form-group">                                
                                <div class="col-md-12">
                                    <label>New Password:</label>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                </div>
                            </div>
                            <div class="form-group">                                
                                <div class="col-md-12">
                                    <label>Confirm Password:</label>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change password" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>